<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ticketManage.mapper.ManageInforMapper">
    <resultMap id="BaseResultMap" type="com.ticketManage.entity.ManageInfor">
        <!--
          column代表数据库的列名，property代表我们实体类的列名
        -->
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="manage_accountId" jdbcType="VARCHAR" property="manageAccountId" />
        <result column="manage_password" jdbcType="VARCHAR" property="managePassword" />
        <result column="manage_type" jdbcType="VARCHAR" property="manageType" />
    </resultMap>


    <!-- 默认拿ManageInfor实体类作为字段映射为我们的字段映射-->
    <!--<select id="findAllManage" resultType="com.ticketManage.entity.ManageInfor">-->
    <!--<![CDATA[-->
<!--SELECT * FROM manage_infor-->
 <!--]]>-->
    <!--</select>-->


    <!-- 直接选择 resultMap="BaseResultMap" 作为我们的字段映射-->
     <select id="findAllManage" resultMap="BaseResultMap">
         <![CDATA[
 SELECT * FROM manage_infor
  ]]>
     </select>
 </mapper>